<html>
	<head>
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Shitty Descriptions</title>
	    <link rel="stylesheet" href="/css/bootstrap.css">
	    <link rel="stylesheet" href="/css/main.css">
	</head>
	<body>
	<script src="/js/tools/jquery.js"></script>
	<script src="/js/tools/angular.js"></script>
	<script src="/js/tools/underscore.js"></script>
	<script src="/js/main/main.js"></script>
	<script src="/js/tools/bootstrap.min.js"></script>
	</body>
</html>